<%= render partial: 'form', locals: { button_name: 'Save', action_path: posts_path, action_method: :post} %>
<br>
<h1>Older posts</h1>
<br>
<% @posts.each do |post| %>
    <h5><%= post.note_date %> - <%= post.city %>
        <%= link_to edit_post_path(post), class: "btn btn-primary btn-block" do %>
        Edit
        <% end %>
        <%= link_to post_path(post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-block" do %>
        Delete
        <% end %>
    </h5>
    <p><%= post.note %></p>
    <br>
<% end %>